asgiref==3.5.2
autopep8==1.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.1.1
django-request==1.6.1
docopt==0.6.2
idna==3.3
Jinja2==3.1.2
keyboard==0.13.5
MarkupSafe==2.1.1
Pillow==9.2.0
prompt-toolkit==3.0.29
pycodestyle==2.9.1
pyflakes==2.4.0
Pygments==2.11.2
PyMySQL
pynput==1.7.6
python-dateutil==2.8.2
pyvim==3.0.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.4
urllib3==1.26.9
wcwidth==0.2.5
