<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finita Story</title>
</head>
<body>
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    <p align="center"><img src="../../static/images/logo.png"></p>

    <form id="form1" method="post" action="" align="center">

        {% csrf_token %}
        {{ form.log_auth }}
        {{ form.pass_auth }}

      </form>

    <button class="enter" type="submit" form="form1">Войти</button>
    <button type="submit" class="Reg" onclick="window.location.href = 'register'">Зарегистрироваться</button>

 <p class="foot" align="center"><img src="../../static/images/help.png"></p>
<link rel="stylesheet" href="../../static/css/style.css">
</body>
</html>