<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/logincss.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро Пожаловать!</title>
</head>
<body>
    <h1 align="center" >Добро Пожаловать, вы успешно авторизовались</h1>
    <img  src="../../static/images/123.jpg">


<!--    <img class="woman" src="../../static/images/woman.jpg">-->
</body>
</html>